@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
}

header {
  background-color: #e97aaa;
}
header p {
  color: white;
}

nav {
  background-color: beige;
  align-items: center;
}
nav ul {
  display: flex;
  list-style-type: none;
}
nav li {
  color: rgb(93, 93, 92);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

main {
  height: fit-content;
  display: grid;
  width: 100%;
  background-color: rgb(243, 235, 235);
}
main .btn {
  border-color: #e97aaa;
  background-color: rgba(245, 245, 220, 0.952);
  border-width: 3px;
  color: rgb(93, 93, 92);
  font-size: medium;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 300;
}
main #grilla {
  background-image: url("../img/05_karina_portugal_2024.jpg"); /* Corregir ruta sin caracteres escapados */
  background-position: center;
  background-size: cover; /* Ajusta la imagen al contenedor sin distorsionar */
  object-fit: cover;
  padding: 20px;
  display: grid;
  grid-template-columns: 40% 30% 30%; /* Ajuste para proporciones */
  gap: 20px;
}
main .logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
main #logo1 {
  max-width: 150px; /* Limitar el tamaño del logo */
  width: 100%;
  height: auto;
  justify-self: center;
}

footer {
  background: #e97aaa;
  text-align: center;
  align-content: center;
  align-items: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 16px;
  color: whitesmoke;
}
footer p {
  color: whitesmoke;
}

title {
  font-size: 21px;
  height: 30px;
  text-align: center;
}

#logo {
  width: auto;
  display: block;
  align-items: center;
}

p {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 21px;
  color: rgb(93, 93, 92);
  text-align: center;
}

a {
  color: rgb(93, 93, 92);
  font-size: 18px;
  text-decoration: navajowhite;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
  font-size: 38px;
  text-align: left;
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(236, 176, 24);
}

h2 {
  font-size: 26px;
  text-align: center;
  font-family: serif;
  font-style: italic;
  color: #e97aaa;
}

h4 {
  font-size: medium;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: rgb(93, 93, 92);
}

/* Media queries para pantallas pequeñas */
@media only screen and (max-width: 600px) {
  #logo1 {
    width: 10%;
    align-items: center;
  }
  header {
    max-height: fit-content;
    height: 100px;
  }
  header p {
    text-align: bottom;
    background-color: #e97aaa;
    height: 55px;
    padding-top: 65px;
    padding-bottom: 0%;
  }
  header nav {
    height: 100px;
  }
  header #lnav {
    display: none;
  }
  header #smnav {
    height: auto;
    align-content: center;
    text-align: center;
    justify-content: space-around;
    background-color: rgba(252, 252, 241, 0.733);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  header #smnav #offcanvasNavbar {
    background-color: rgba(0, 0, 0, 0.644);
    font-size: 16px;
  }
  header #smnav #offcanvasNavbar a {
    color: white;
  }
  header #smnav #offcanvasNavbar p {
    color: white;
  }
  header #smnav #offcanvasNavbar h5 {
    font-size: 18px;
    font-family: cursive;
    color: white;
  }
  main {
    height: 950px;
  }
  #bth {
    width: 235px;
    height: 60px;
    justify-content: space-evenly;
    background-blend-mode: darken;
  }
  ul {
    height: 100%;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }
  #grilla {
    padding-top: 150px;
    padding-left: 10px;
    grid-template-columns: 40% 50%;
    background-color: rgba(245, 245, 220, 0.295);
  }
  #footerm {
    display: none;
  }
  #footer {
    height: 50px;
    padding-top: 25px;
    padding-bottom: 15px;
    justify-content: space-between;
  }
  p {
    font-size: 16px;
  }
  a {
    font-size: 18px;
  }
}
/* Media queries para pantallas medianas */
@media only screen and (min-width: 600px) {
  #logo {
    display: none;
  }
  header {
    height: 150px;
  }
  header #smnav {
    display: none;
  }
  header ul {
    height: 80px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  header li {
    width: 20%;
    text-align: center;
  }
  #grilla {
    padding-top: 100px;
    padding-left: 50px;
    grid-template-columns: 34% 23% 23%;
    text-align: center;
  }
  #grilla #logo1 {
    width: 10%;
    align-items: center;
  }
  #grilla .g-start-2 {
    max-width: 300px;
    align-content: center;
    justify-content: center;
  }
  p {
    font-weight: 300;
  }
  a {
    font-weight: 200;
  }
  footer {
    height: 120px;
    padding-bottom: 5px;
    padding-top: 5px;
  }
  footer p {
    display: none;
  }
}
/* Media queries para pantallas grandes */
@media only screen and (min-width: 1100px) {
  #grilla {
    padding-top: 100px;
    padding-left: 150px;
    grid-template-columns: 34% 23% 23%;
    text-align: center;
  }
  #grilla .g-start-2 {
    max-width: 300px;
    align-content: center;
    justify-content: center;
  }
}

/*# sourceMappingURL=estilos.css.map */
