@media only screen and (max-width: 600px) {
    main {
        height: auto;
        grid-template-columns: 90%;
        justify-content: center;
    }

    #blog-sm {
        display: flex;
        max-width: 500px;
        max-height: fit-content;
        grid-template-columns: 100%;
        justify-content: center;
    }

    #footerm {
        display: none;
    }
}

@media only screen and (min-width:600px) {
    main {
        height: auto;
        grid-template-columns: 90%;
        justify-content: center;
        align-items: center;
    }

    #star {
        max-width: auto;
        max-height: 200px;
        max-inline-size: auto;
    }

    #blog-sm {
        flex: 1;
        display: flex;
        max-width: 800px;
        justify-content: center;
        align-items: center;
        padding: 20px;
    }

    footer {
        height: 120px;
        padding-bottom: 5px;
        padding-top: 5px;
    }
}