@media only screen and (max-width:700px){
    main {
            height: auto;
            grid-template-columns: 90%;
            justify-content: center;
        
    
        #blog-sm {
            display: flex;
            max-width: 650px;
            max-height: fit-content;
            grid-template-columns: 100%;
            align-items: center;
            justify-content: center;
        }
        #star {
            padding-left: 15px;
            padding-top: 15px;
        }
        .card {justify-content: center;}
    
        #footerm {
            display: none;
        }
    }
}

@media only screen and (min-width:700px){
    main {
            height: auto;
            grid-template-columns: 90%;
            justify-content: center;
        
    
        #blog-sm {
            display: flex;
            max-height: fit-content;
            grid-template-columns: 100%;
            align-items: center;
            justify-content: center;
        }
        #star {
            padding-left: 15px;
            padding-top: 15px;
        }
        .card {justify-content: center;}
    
        #footer {
            display: none;
        }
    }
}