title {
    font-size: 21px;
    height: 30px;
    text-align: center;
}

#logo {
    width: auto;
    display: block;
    align-items: center;
}

p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 21px;
    color: rgb(93, 93, 92);
    text-align: center;
}

a {
    color: rgb(93, 93, 92);
    font-size: 18px;
    text-decoration: navajowhite;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
    font-size: 38px;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(236, 176, 24);
}

h2 {
    font-size: 26px;
    text-align: center;
    font-family: serif;
    font-style: italic;
    color: #e97aaa;
}

h4 {
    font-size: medium;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(93, 93, 92);
}