.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 500px;
    padding: 5px;
}

.box {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
}

img {
    max-width: 85%;
    height: auto;
    max-height: 500px ;
}

.text {
    font-size: 18px;
    text-align: center;
}
@media only screen and (min-width:1024px) {
    main {
        height: auto;
    }

    .container {
        flex-direction: row;
    }
}

